<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <meta charset="UTF-8">
    <title>OwO</title>
</head>
<body>
    <form class="box" action="/cadastro" method="post" >
        <h1>Central Bank</h1>

        <div>
            <label>Cadastrar</label>
            <label>Insira seus dados para que possamos criar a sua conta</label>
        </div>

        <div class="inputBox">
            <label class="inputLabel" for="nome">Nome Completo</label>
            <input class="inputInput" type="text" id="nome" name="nome" placeholder="Nome">
        </div>

        <div class="inputBox">
            <label class="inputLabel" for="cpf">CPF</label>
            <input class="inputInput" type="text" id="cpf" name="cpf" placeholder="CPF">
        </div>

        <div class="inputBox">
            <label class="inputLabel" for="email">Email</label>
            <input class="inputInput" type="text" id="email" name="email" placeholder="Email">
        </div>

        <div class="inputBox">
            <label class="inputLabel" for="senha">Senha</label>
            <input class="inputInput" type="text" id="senha" name="senha" placeholder="Senha">
        </div>

        <div class="buttonsForm">
            <button class="bntInput" type="submit"> Cadastrar </button>
        </div>
    </form>
</body>
</html>