<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <title>Login</title>
</head>
<body>
 <form class="box" action="/login" method="post" >
        <h1>Central Bank</h1>

        <div>
            <label>Login</label>
            <label>Entre em uma conta ja cadastrada em nosso banco</label>
        </div>


        <div class="inputBox">
            <label class="inputLabel" for="email">Email</label>
            <input class="inputInput" type="text" id="email" name="email" placeholder="Email">
        </div>

        <div class="inputBox">
            <label class="inputLabel" for="senha">Senha</label>
            <input class="inputInput" type="password" id="senha" name="senha" placeholder="Senha">
        </div>

        <div class="buttonsForm">
            <button class="bntInput" type="submit"> Logar </button>
        </div>
    </form>
</body>
</html>