<form  action="" method="post">
    <input class="inputInput" type="text" name="nome" placeholder="Nome">
    <input class="inputInput" type="number"  name="cpf" placeholder="CPF" maxlength="11">
    <input class="inputInput" type="text"  name="email" placeholder="Email">
    <input class="inputInput" type="password"  name="senha" placeholder="Senha">
    <button class="bntInput" type="submit"> Cadastrar </button>
</form>
    <button onclick="{window.location.href = '/login'}">Ja possuo conta</button>
