<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>informações sobre o Emprestimo</h1>
<div>
    <div>
            <label>Valor Total: {{total}}</label>
    </div>
    <div>
      <label>Valor total com juros: {{total_a_pagar}}</label>
    </div>
    <div>
      <label>Valor de cada parcela: {{custo_mensal}}</label>
    </div>
    <div>
      <label>data de inicio: {{data}}</label>
    </div>
    <div>
        <label>Taxa: {{taxa}}%</label>
    </div>
</div>
    <button onclick="{window.location.href = '/menu'}">Voltar ao menu</button>


</body>
</html>