<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blep :p</title>
</head>
<body>
<h1>Emprestimo</h1>
<form  action="" method="post">
    <input class="inputInput" type="text" name="valor" placeholder="Valor do Emprestimo">
    <input class="inputInput" type="text"  name="n_parcelas" placeholder="n_parcelas">
    <button class="bntInput" type="submit"> Cadastrar </button>
</form>
<button onclick="{window.location.href = '/menu'}">Voltar ao menu</button>

</body>
</html>