<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Menu</title>
</head>
<body>
    <button onclick="{window.location.href = '/deslogar'}">Deslogar</button>
    <div class="cardHolder">
      <div class="card" onclick="window.location.href=`{{ url_for( 'emprestimos') }}`;">
          <i class="material-icons">account_balance</i>
          <h2> Empréstimo</h2>
          <label>Transparentes, seguros e do seu jeito. Opções de empréstimos que deixam você no controle do início ao fim.</label>
          <button >OwO</button>
      </div>

      <div class="card">
          <i class="material-icons">account_balance</i>
          <h2> Verificar Extrato</h2>
          <label>Verifique o extrato bancário da sua conta</label>
          <button onclick="window.location.href=`{{ url_for( 'login') }}`;">OwO</button>
      </div>

      <div class="card" onclick="window.location.href=`{{ url_for( 'login') }}`;">
          <i class="material-icons">account_balance</i>
          <h2> Realizar pagamento</h2>
          <label>Pague aqui as suas contas.</label>
          <button onclick="window.location.href=`{{ url_for( 'login') }}`;">OwO</button>
      </div>
    </div>
</body>
</html>